QDoubleSpinBox {
	background-color: rgb(10, 10, 10);
	color:rgb(254, 254, 254);
}
QWidget[class="config_widget"]{
	background-color: #123123;
	color:black;
}
#ObjectWidgetHolder{
	background-color: #123123;
	color:black;
}